---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";

import meImg from "../assets/images/aboutMe.jpeg";

const skills = [
  {
    name: "HTML",
    xp: 100,
  },
  {
    name: "CSS",
    xp: 100,
  },
  {
    name: "JavaScript",
    xp: 100,
  },
  {
    name: "React",
    xp: 80,
  },
  {
    name: "Python",
    xp: 70,
  },
];
---

<Layout title="Jack Gong">
  <div class="max-w-screen-sm mx-auto flex flex-col gap-8 px-2">
    <Image src={meImg} alt="Jack Gong" class="w-72 rounded-2xl mx-auto" />
    <section class="flex flex-col gap-2">
      <h1 class="text-6xl font-pacifico">Jack Gong</h1>
      <h2 class="badge badge-lg badge-primary text-white">
        Software Engineer BE(Hons)
      </h2>
    </section>
    <section class="flex flex-col gap-4">
      <div class="w-fit">
        <h1 class="text-4xl w-fit font-pacifico">About Me</h1>
        <div class="h-1 bg-primary"></div>
      </div>

      <p>
        Yo! My name is Jack and I'm a software engineer based in Auckland, New
        Zealand. I studied at the University of Auckland and graduated with a
        Bachelor of Engineering (Honours) in Software Engineering. Out of all
        aspects of software engineering, I enjoy web development the most. I
        believe that the design and user experience of a website are just as or
        if not more important than the functionality in most cases so I've spent
        a lot of time learning about front-end development.
      </p>
      <p>
        Outside of sitting in front of my computer, I love to hit the gym, go on
        hikes and watch the UFC at The Kingslander bar. Another thing I've been
        engaged in during my free time is freelancing with my friend. Since
        early 2023, we started offering web design services around our
        neighborhood. This has been a fun way to apply our skills and make a
        positive impact in our community. You can find us at Astro Media.
      </p>
      <a href="/portfolio" class="btn btn-secondary mx-auto btn-sm text-white"
        >See my portfolio</a
      >
    </section>
    <section class="flex flex-col gap-4">
      <div class="w-fit">
        <h1 class="text-4xl w-fit font-pacifico">My Skills</h1>
        <div class="h-1 bg-primary"></div>
      </div>
      <div class="mx-auto">
        {
          skills.map((skill) => (
            <div class="grid grid-cols-[100px_1fr]">
              <h2>{skill.name}</h2>
              <progress
                class="progress progress-warning w-56 self-center"
                value={skill.xp}
                max="100"
              />
            </div>
          ))
        }
      </div>
      <a href="/resume" class="btn btn-secondary mx-auto text-white btn-sm"
        >See my resume</a
      >
    </section>
  </div>
</Layout>
