---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";

import meImg from "../assets/images/aboutMe.jpeg";

const skills = [
  {
    name: "HTML",
    xp: 100,
  },
  {
    name: "CSS",
    xp: 100,
  },
  {
    name: "JavaScript",
    xp: 100,
  },
  {
    name: "React",
    xp: 80,
  },
  {
    name: "Python",
    xp: 70,
  },
];
---

<Layout title="Jack Gong">
  <div class="max-w-screen-sm mx-auto flex flex-col gap-8 px-2">
    <Image src={meImg} alt="Jack Gong" class="w-72 rounded-2xl mx-auto" />
    <section class="flex flex-col gap-2">
      <h1 class="text-6xl font-pacifico">Jack Gong</h1>
      <h2 class="badge badge-primary rounded-lg p-3 text-white">
        Software Engineer BE(Hons)
      </h2>
    </section>
    <section class="flex flex-col gap-4">
      <div class="w-fit">
        <h1 class="text-4xl w-fit font-pacifico">About Me</h1>
        <div class="h-1 bg-primary"></div>
      </div>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In commodi
        animi aut, nulla nisi minima totam deleniti possimus cumque vero. Et
        repellat dolorem aut ullam dolorum. Doloribus, ab, dolores eaque
        voluptatibus consequatur consequuntur incidunt aliquid fugit, sit facere
        voluptatum quaerat ipsam praesentium dolorum earum odit! Natus, at
        voluptates, voluptas distinctio deserunt esse temporibus excepturi
        veritatis dolor impedit nesciunt reprehenderit nam obcaecati beatae
        quaerat eius iure quibusdam minima culpa assumenda! Atque delectus ad
        velit fugiat facere dicta repudiandae officia, ab excepturi nesciunt?
        Iste et quos dicta, odit nam fuga doloribus ratione ducimus, illo beatae
        explicabo optio laboriosam, esse repellat aut ipsam?
      </p>
      <a href="/portfolio" class="btn btn-secondary mx-auto btn-sm text-white"
        >See my portfolio</a
      >
    </section>
    <section class="flex flex-col gap-4">
      <div class="w-fit">
        <h1 class="text-4xl w-fit font-pacifico">My Skills</h1>
        <div class="h-1 bg-primary"></div>
      </div>
      <div>
        {
          skills.map((skill) => (
            <div class="grid grid-cols-[100px_1fr]">
              <h2>{skill.name}</h2>
              <progress
                class="progress progress-warning w-56 self-center"
                value={skill.xp}
                max="100"
              />
            </div>
          ))
        }
      </div>
      <a href="/resume" class="btn btn-secondary mx-auto text-white btn-sm"
        >See my resume</a
      >
    </section>
  </div>
</Layout>
